<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <ul class="sections">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/PhotoGallery">Photo Gallery</a></li>
    </ul>
    <img id="aboutportrait" src="/images/aboutportrait.png" alt="portrait">
    <p class="pAbout">Zaha Hadid was an architect known for her radical deconstructivist designs. She was the first woman to be awarded the Pritzker Architecture Prize, in 2004. Her buildings included the Heydar Aliyev Centre Baku, Azerbaijan, and the MAXXI museum of contemporary art and architecture in Rome</p>
   <script src="../public/js/index.js"></script>
   <div> </div>
</body>
</html>