<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <ul class="sections">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/works">Works</a></li>
    <li><a href="/PhotoGallery">Photo Gallery</a></li>
</ul>
    <div id="images">
        <div id="img1">
            <img class="imgWorks" src="/images/interiorSoho.png" alt="Galaxy">
            <img class="imgWorks" src="/images/Guangzhou.png" alt="Guangzhou">  
        </div>
        <div class="worksTitles">
        <p class="imgWorksTitle">Galaxy Soho Guangzhou</p>
        <p class="imgWorksTitle2">Opera House</p>
        </div>
        <div id="img2">
    <img class="imgWorks" src="/images/HeydarAliyevBaku.png" alt="Aliye">
    <img class="imgWorks" src="/images/heydarInterior.png" alt="InteriorHeydar">
    </div>
    <div class="worksTitles">
    <p class="imgWorksTitle">Heydar Aliyev Center</p>
    <p class="imgWorksTitle2">Baku interior</p>
    </div>

</div>
    </div>
   <script src="../public/js/index.js"></script>
</body>
</html>